<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Expense Tracker - Login</title>
</head>
<body>
    <div id="login">
        <div class="bckgrd-container"></div>
        
        <main id="login-container">
            <h1>Login</h1>
            <form id="login-form" action="/auth/login" method="post">
                <label for="login-username">Username:</label>
                <input type="text" id="login-username" name="username" required>
                <div id="username-error" class="error-message" style="color: red;"></div>

                <label for="login-password">Password:</label>
                <input type="password" id="login-password" name="password" required>
                <div id="password-error" class="error-message" style="color: red;"></div>
                
                <div id="general-error" class="error-message" style="color: red;"></div> <!-- General error message -->
                <button type="submit">Login</button>
            </form>

            <p id="login-signup-link">Don't have an account? <a href="/signup" class="signup-link">Sign up here</a>.</p>
        </main>
    </div>
</body>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('login-form').addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(this);
        const data = Object.fromEntries(formData);

        try {
            const response = await fetch(this.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                const result = await response.json().catch(err => {
                    console.error("Failed to parse JSON:", err);
                    return { error: "Unexpected server response." };
                });

                clearErrors();

                if (result.error) {
                    document.getElementById('general-error').innerText = result.error;
                }
            } else {
                const result = await response.json();
                window.location.href = '/expenses';
            }
        } catch (error) {
            console.error('Error:', error);
            document.getElementById('general-error').innerText = "An unexpected error occurred. Please try again."; 
        }
    });

    function clearErrors() {
        document.getElementById('username-error').innerText = ''; 
        document.getElementById('password-error').innerText = ''; 
        document.getElementById('general-error').innerText = '';
    }
});
</script>
</html>
