/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.success-message, .successMsg, .errorMsg, .error-msg {
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.success-message {
    color: green;
    margin-top: 20px;
}

.successMsg {
    color: green;
    display: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid green;
    background-color: #d4edda;
}
.error-message {
    font-size: 10px;
}

.errorMsg, .error-msg {
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 15px;
    background-color: #f6afa2;
}

.error-msg {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.error-msg.hide {
    opacity: 0;
}

/* Add Expense */
#expense-container, #signup-container, #login-container, #exp-tracker-container {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#exp-tracker-container {
    border-radius: 20px;
    max-height: 750px;
    overflow-y: auto;
}

#exp-tracker-container main h2 {
    margin-left: 10px;
}

#login-container, #signup-container {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#expense-container {
    width: 450px;
    border-radius: 16px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#expense-form, #login-form, #signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#expense-form label, #signup label, #login-form label {
    font-weight: bold;
}

#expense-form input, #signup input, #login-form input, .select-cat, .edit-input-descr {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0.2px 0.2px;
}

#expense-container input {
    height: 30px;
}

#expense-form #expense-category {
    height: calc(2.0em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#create-expense-div {
    margin: 15px 0;
}

#expense-form button, #login-form button, #signup-form button {
    width: 45%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto 10px;
    height: 50px;
    font-size: large;
}

footer.footer {
    padding: 10px;
    height: 50px;
    display: flex;
  }
  
  .add-button { 
    width: 140px; 
    height: 50px;
    border-radius: 10px; 
    background-color: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
  }
  #add-btn-link, #back-to-expenses-btn {
    text-decoration: none;
    color: white;
  }
  
.btn-edit {
    background-color: #4CAF50; /* Green */
}

.btn-delete {
    background-color: #f44336; /* Red */
}

.btn-edit:hover {
    background-color: #45a049;
}

.btn-delete:hover {
    background-color: #e53935;
}

/* Signup */
#signup, #login {
    width: 860px;
    display: flex;
}
.bckgrd-container {
    background-image: url('../images/stock.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 470px;
 }

 #login-form button {
    margin-top: 40px;
 }
 
 #login-signup-link {
    text-align: center;
 }

/* Login */
header#profile, #exp-tracker-container #expense-item, #total-amount-btn {
    width: 100%;
    display: flex;
}
#dp {
    width: 150px;
}
.item-image {
    width: 50px;
    height: 50px;
}
#dp img, .item-image img {
    width: 100%;
    border-radius: 50%;
}

#profile-greeting {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}
.exp-item {
    width: 96%;
    margin: 10px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    background-color: #F1F3F4;
    box-shadow: 0.2px 0.2px;
}

.item-description {
    width: 60%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}
.date-purchased {
    font-weight: lighter;
    font-size: 16px
}
.item-amount {
    width: 20%;
    padding: 5px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.item-actions {
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
.item-actions a {
    color: #193d64;
    text-decoration: none;
    font-size: 18px;
}
.item-actions a:hover {
    color: #0463c8;
}
#total-btn {
    width: 96%;
    padding: 25px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    background-color: #060E16;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    #login-container, #signup-container {
        width: 100%;
        background-image: url('../images/stock.jpeg');
        background-repeat: no-repeat;
        color: white;
    }
    .bckgrd-container {
        display: none;
    }
    .signup-link, .login-link {
        text-decoration: none;
        color: #ccc;
    }
    #exp-tracker-container {
        width: 100%;
        background-image: url('../images/trend.jpeg'); 
    }
}

@media screen and (max-width: 1026px) {
    #signup, #login {
        width: 860px;
        display: flex;
    }
    .bckgrd-container {
        background-image: url('../images/stock.jpeg');
        background-repeat: no-repeat;
        width: 55%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
     }
    
     #login-signup-link {
        text-align: center;
     }

    header#profile, #exp-tracker-container #expense-item, #total-amount-btn {
        width: 100%;
        display: flex;
    }

    #create-expense-div {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    #create-expense-div button{
        flex-grow: 0 !important;
        width: 30% !important;
        font-size: 18px;
        background-color: limegreen;
    }

    
}